# Archivos de salida de compilación
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Específicos de Android Studio
*.apk
*.ap_
*.dex
*.class

# Logs
*.log

# Archivos de sistema (Mac/Windows)
Thumbs.db
